<!-- header -->
<div header></div>


	<div class="jumbotron">

		<!-- <a ng-click="open()"class="pull-right btn btn-primary btn-outline btn-rounded">ADD CHANNEL</a> -->		


	    <div class="jumbotron">

	    	<div collection-sidebar></div>    
	        
	        <div class="col-md-10">

	        	<div class="form-group">			    	
			    	<input type="text" class="form-control" placeholder="검색 ... " 
			    	 	   ng-enter="search()" ng-model="keyword">
			  	</div>
	        
	            <table st-table="rowCollection" class="table table-hover">
	                <thead>
	                <tr>
	                	<th></th>
	                    <th>NAME</th>
	                    <th>COUNT</th>
	                    <th>DISPLAY</th>
	                    <th>COLLECT</th>	                    
	                    <th>DELETE</th>	                    
	                </tr>
	                </thead>
	                <tbody>
	                <tr dir-paginate="content in contents | itemsPerPage: pageSize" total-items="totalCount" current-page="pagination.current">
	                	<td>{{(totalCount - (pageSize * (pagination.current-1))) - $index}}</td>
	                    <td><a href="collection/view/{{content.id}}">{{content.channelTitle}}</a></td>
	                    <td>{{content.videoCount}} / {{content.count}}</td>
	                    <td>	                        
	                        <div toggle-switch 
	                        	 class="switch-primary" 
	                        	 ng-model="content.display" 
	                        	 on-change="display($index, content.channelId, !content.display)"
	                        	 knob-label="" on-label="on" off-label="off">
	                       	</div>
	                    </td>
	                    <td>	                        
	                        <button ng-if="!content.state" 
	                                class="btn btn-warning"                                 
	                                type="button"
	                                data-id="{{content.channelId}}" 
	                                ng-click="CollectById($index, $event)">
	                                collect
	                        </button>
	                        <button ng-if="content.state" 
	                                class="btn btn-primary"                
	                                type="button"                 
	                                ng-click="updateCollection($index, content.id, content.channelId)">
	                                collecting...
	                        </button>        
	                    </td>
	                    <td>
	                        <button class="btn btn-danger"                                 
	                                type="button"
	                                ng-click="confirmDelete($index, content.id)">
	                                delete
	                        </button>
	                    </td>
	                </tr>
	                </tbody>
	            </table>

	            <div style="text-align:center">
	                <dir-pagination-controls boundary-links="true" 
	                                         on-page-change="pageChanged(newPageNumber)" 
	                                         template-url="components/pagination/dirPagination.tpl.html">                    
	                </dir-pagination-controls>
	            </div>          

	        </div>    
		</div>

	</div>


<!-- footer -->
<div footer></div>    