<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			
			
          	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal">x</button>
            	<h3>Login to Music Channel</h3>
          	</div>


	        <div class="modal-body">
	            <form method="post" action='' name="login_form">
	              	<p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
	              	<p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
	              	<p><button type="submit" class="btn btn-primary">Sign in</button>
	                	<a href="#">Forgot Password?</a>
	              	</p>
	            </form>
	        </div>
	        
	        
	        <div class="modal-footer">
	            <a ng-click="ok();" class="btn btn-primary">Register</a>
	            <!-- <a ng-click="googleLogin();" class="btn btn-primary">Login with Google</a>			             -->
	            <a ng-click="authenticate('google')" target='_self' class="btn btn-primary">Login with Google</a>			            
	        </div>	       

		</div>
	</div>
</div>


