<!-- header -->
<div header></div>


	<div class="jumbotron">
	    <div class="jumbotron">

	    	<div category-sidebar></div>    

	    	<div class="col-md-10">	    	
	    		<a ng-click="save()" class="btn btn-default">Save</a>		
		    	<table ui-tree id="tree-root" class="table table-responsive">
			      	<thead>
			        	<tr>
			          		<th>Sort</th>
			          		<th width="80%">Name</th>
				          	<th>
							    <a  class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newItem()" style="margin-right: 8px;">
							        <span class="glyphicon glyphicon-plus"></span>
							    </a>
				          	</th>		   
						</tr>
			      	</thead>
			      	<tbody ng-show="data.length > 0" ui-tree-nodes ng-model="data">
			        	<tr ng-repeat="node in data" ui-tree-node>
			          		<td>
			            		<i class="glyphicon glyphicon-resize-vertical" ui-tree-handle></i> 
			          		</td>
			          	<td>
			          		<input type="text" class="form-control" ng-model="node.name">
			          	</td>
			          	<td>
			            	<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
			              		<span class="glyphicon glyphicon-remove"></span>
			            	</a>
			          	</td>
						</tr>
			      	</tbody>
			    </table>
		  	</div>

  		</div>
	      

	</div>


<!-- footer -->
<div footer></div>    