 <!-- Navigation -->
    <!--  -->

    <!-- Page Content -->    
    <div class="container">

        <div class="row">

            <div sidebar></div>

            <div class="col-md-9">

                <!-- Banner start -->
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <!-- <ol class="carousel-indicators">                                                                
                                <li ng-repeat="banner in banners" data-target="#carousel-example-generic" 
                                    data-slide-to="$index" ng-class="$index == 0 ? 'active' : ''" ></li>                                                                                     
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol> -->
                            <div class="carousel-inner">                                
                                <div ng-repeat="banner in banners"  ng-class="$index == 0 ? 'item active' : 'item'" > 
                                    <img class="slide-image" ng-src="{{banner.bannerImg}}" alt="{{banner.channelTitle}}">
                                </div>
                                <!-- <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>                                
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div> -->
                            </div>
                            <a class="left carousel-control"  href="#carousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control"  href="#carousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- Banner end -->

                <div class="row">
                    
                    <!-- infinite-scroll-disabled="fetching || disabled" -->
                    <!-- <div infinite-scroll="loadMore()" 
                         infinite-scroll-disabled="!disabled"
                         infinite-scroll-distance="2"> -->
                    <div>

                        <div ng-repeat="content in contents">

                            <div class="col-sm-4 col-lg-4 col-md-4" >
                                <div class="thumbnail">
                                    <a target="_blank" href="https://www.youtube.com/watch?v={{content.videoId}}">
                                        <img ng-src="{{content.thumbnails.high.url}}" alt="{{content.description}}">
                                    </a>
                                    <div class="caption">
                                        <h4 class="pull-right">{{content.audios.length | secondsToDateTime | date:'mm:ss'}}</h4>                                        
                                        <h4><a href="#">{{content.channelTitle}}</a>
                                        </h4>
                                        <p>{{content.title}}
                                            <!-- <a target="_blank" href="https://www.youtube.com/watch?v={{content.videoId}}">
                                                Bootsnipp - http://bootsnipp.com
                                            </a>. -->
                                        </p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">{{content.views}} reviews</p>
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end ng-repeat -->

                    </div> <!-- end infinite-scroll -->  

                    <div ng-show='reddit.busy'>Loading data...</div>   

                   <!--      
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4><a href="#">Like this template?</a>
                        </h4>
                        <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                        <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                    </div>
                     -->

                </div> 

            </div>

        </div>

    </div>
    <!-- /.container -->
